body, #sb-site {
    /* background: url('../img/bg.jpg') no-repeat center center fixed; ; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    color: white;
    background-color: #edecec;
}

.navbar {
    border-radius: 0px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    height: 65px;
}

.navbar-default {
    background-color: #4285f4;
    border-color: #4285f4;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 15pt;
    padding-top: 23px;
}

.fa-reorder {
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0.3s;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    font-size: 15pt;
}

.bold {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}


/* Content Bar */

.dashboard {
    color: #777;
    font-size: 15px;
    font-weight: normal;
    padding-left: 22px;
}

.contentbar {
    color: black;
    padding: 0px 0px 0px 0px;
    background-color: white;
    min-height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contentbar-header {
    background-color: rgba(0, 0, 0, 1);
    height: 50px;
    color: white;
    padding: 15px 0px 0px 15px;
    font-size: 12pt;
    font-weight: bold;
}

.contentbar-body {
    padding : 25px 50px 0px 50px;
    background-color: white;
}

.contentbar-title, .contentbar-firstname {
    font-size: 14pt;
}

.contentbar-subtitle {
    color: #777;
    font-size: 10pt;
}

.contentbarevents {
    background-color: white;
    padding-top: 40px;
    padding-left: 90px;
    padding-bottom: 30px;
}

#spinner {
    margin-bottom: 15px;
}

#assessmentbigspinner {
    margin-top: 70px;
}

#assessmentbigspinner i {
    color: #607d8b;
}

.fa-birthday-cake {
    color: #0172bc;
}

.fa-warning {
    color: darkred;
}

.event i {
    padding-right: 20px;
}

.event {
    padding-top: 15px;
}

@media only screen and (max-width: 500px) {
    .contentbar-body {
        height: 100%;
    }
}

/* Home Buttons Bar */

.homebuttonbar-header {
    background-color: black;
    padding: 13px;
    font-size: 20px;
    margin-top: 50px;
}

.buttongroup {
    margin-bottom: 100px;
}

.buttongroup > div {
    padding: 20px;
    border-bottom: 5px solid #000000;
}

.buttongroup > div:nth-child(1) {
    border-left: none;
    background-color: #00bcd4;
}

.addthis {
    padding: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid #000000;
}


.buttongroup > div:nth-child(2) {
    border-left: none;
    background-color: #8bc34a;
}

.buttongroup > div:nth-child(3) {
    border-left: none;
    background-color: #ff9800 ;
}

.buttongroup > div:nth-child(4) {
    border-right: none;
    background-color: #607d8b;
}

.buttongroupicon {
    padding: 10px;
}

.buttonitself {
    padding-left: 20px;
}

.buttongroup div:hover {
    cursor: pointer;
}

/** Form **/
.contentbar-error {
    padding-left: 13px;
    color: #ea003d;
    font-size: 17px;
}

.contentbar-error-redundant {
    padding-left: 13px;
    color: #ea003d;
    font-size: 17px;
}

/** Tables **/

.table {
    margin-bottom: 0px;
}

table {
    font-family: "Roboto";
}

table thead:hover {
    cursor: pointer;
}

.trfocus {
    cursor: pointer;
    color: black;
    background: rgba(0, 0, 0, 0.05);
}

table tbody tr:hover {
    cursor: pointer;
    color: black;
    background: rgba(0, 0, 0, 0.05);
}

table thead tr td {
    font-weight: bold;
}

table tbody tr td i {
    padding-left: 10px;
}

table tbody tr td i.fa-remove:hover {
    color: red;
}

#tableclassesview table tbody tr td i.fa-edit:hover, #tableclassesview table tbody tr td i.fa-save:hover, #tableclassesview table tbody tr td i.fa-apple:hover  {
    color: #00bcd4;
}

#tableassessmentsview table tbody tr td i.fa-edit:hover, #tableassessmentsview table tbody tr td i.fa-save:hover, #tableassessmentsview table tbody tr td i.fa-apple:hover  {
    color: #607d8b;
}
/*
input[name=viewGradesButton], input[name=viewGradesButton]:active, input[name=viewGradesButton]:focus, input[name=viewGradesButton]:active:focus, input[name=viewGradesButton]:hover {
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
}

input[name=viewStudentsButton], input[name=viewStudentsButton]:active, input[name=viewStudentsButton]:focus, input[name=viewStudentsButton]:active:focus, input[name=viewStudentsButton]:hover {
    background-color: #CC0505;
    border: 1px solid #CC0505;
}
*/
#subjectscontainer {
    padding: 0px;
}



/** Clock **/

.clockbar {
    margin-top: 10px;
    color: white;
    padding-right: 0px;
}

.clock:hover {
    cursor: pointer;
}

.clock-header {
    height: 55px;
    background-color: rgba(0, 0, 0, 0.1);
}

.clock {
    padding: 0px;
    margin: 10px;
    margin-left: 0px;
    height: 140px;
    width: 120px;
    background-color: #009688;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.grading {
     padding: 0px;
    margin: 10px;
    margin-left: 0px;
    height: 140px;
    width: 120px;
    background-color: #ea003d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.grading:hover {
    cursor: pointer;
}

.datebig {
    font-size: 40pt;
    font-weight: bolder;

}

.datesmall {
    font-size: 12pt;
    font-weight: lighter;
}

.timebig {
    font-size: 60pt;
    font-weight: 900;
}

#monthword {
    -webkit-transform: translate(0px, -15px);

}

#dateword {
    -webkit-transform: translate(0px, -15px);
}

#hour {
    -webkit-transform: translate(0px, -20px);
}

#minute {
    font-size: 35pt;
    -webkit-transform: translate(-20px, 10px);
}

#seconds {
    -webkit-transform: translate(35px, -80px);
}

#ampm {
    -webkit-transform: translate(35px, -60px);
}

#gradingword {
    -webkit-transform: translate(0px, -15px);
}

/** Sidebar **/
.sidebar.left {
    margin-top: 65px;
    color: #777;
}

.sidebarbutts {
    margin-top: 20px;
}

.sidebarbutts div {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.sidebarbutts div i {
    padding-right: 15px;
}

.sidebarbutts div:hover {
    background-color: #F4F4F4;
    cursor: pointer;
    color: black;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.profile-footer {
    height: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 12pt;
}


.options {
    margin-top: 25px;
}

.options i {
    padding-left: 30px;
    padding-right: 13px;
}

.options > a > div {
    color: #777;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 14px;
}

.options a > div:hover, .options a:focus, .options a:active {
    background-color: #F4F4F4;
    color: #262626;
    cursor: pointer;
    text-decoration: none;
}

.options a:hover {
    text-decoration: none;
}

/** Forms **/
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

/** Modal **/
.modal-body {
    color: #000000;
    background-color: white;
    padding: 0px;
}

.modal-left {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-right-header {
    padding-top: 20px;
    font-size: 15pt;
    font-weight: lighter;
}

.modal-title {
    color: black;
}

.modal-left > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.modal-left > div:hover {
    cursor: pointer;
    background-color: #4285f4;
    color: white;
    font-weight: bolder;
}

.modal-selected-option {
     background-color: #4285f4;
     color: white;
     font-weight: bolder;
}

#changeGradingForm {
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn:focus, .btn:active:focus, .btn:active {
    outline: none;
    outline-offset: 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #00bcd4;
    border: 1px solid #00bcd4;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus {
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:active:focus {
    background-color: #607d8b;
    border: 1px solid #607d8b;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus {
    background-color: #ea003d;
    border: 1px solid #ea003d;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:focus {
    background-color: #4285f4;
    border: 1px solid #4285f4;
}

.btn-default:hover {
    background: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.isotope-classes {
    margin-top: 120px;
    margin-bottom: 150px;
}

/* clear fix */
.isotope-classes:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 170px;
    height: 150px;
    margin: 8px;
    background: white;
    color: #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.element-item:hover {
    cursor: pointer;
}

.element-item-header {
    width: 170px;
    height: 24px;
    background-color: rgba(0, 188, 212, 0.64);
}

.element-item-header .fa-remove {
    color: black;
    padding-top: 3px;
    padding-right: 6px;
}

.element-item-header .fa-remove:hover {
    color: black;
    padding-top: 3px;
    padding-right: 6px;
    -webkit-transform: scale(1.5);
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .section {
    padding-left: 10px;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 17px;
  font-weight: bold;

}

.element-item .name {
    padding-left: 10px;
    padding-right: 10px;
  left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
     color: #00464F;

}

.element-item .type {
    padding-left: 10px;
  left: 10px;
  padding-top: 5px;
  font-size: 14px;
    font-style: italic;
  font-weight: normal;
}


.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.type1          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.type2  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.type3      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.type4        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }

#paddingonvalid {
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 0px;
}

.alert-danger {
    background-color: #ea003d;
    color: white;
}


#sortisotopeclasses:hover {
    cursor: pointer;
}
