
body {
    background: url("../img/bg-login.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 15px 'open sans';
    color: #000000;
}