{% extends "smartplugui.html" %}
{% block device%}
<link type="text/css" href="{{ url_for('static', filename='css/device-style.css') }}" rel="stylesheet">
<script type="text/javascript" src="../static/js/features/device-js.js"></script>
    <div id="devices" class="request-page-def ">
        <div class="row device-header">
            <div class="col-md-2">Smart Plug Devices</div>

        </div>
        <div class="row">
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:<span id="status"></span></div>
            <label style="margin-left: 180px" class="switch">
                <input id="change-stat" type="checkbox" data-toggle="toggle" onclick="alert('Function here')">
                 <span class="slider"></span>
            </label>

        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>
        <div class=" col-md-2 device-content">
            <div><b>DEVICE 1</b></div>
            <div>STATUS:</div>
            <label style="margin-left: 180px" class="switch">
                <input type="checkbox">
                 <span class="slider"></span>
            </label>
        </div>


        <div class="col-md-2">
            <button class="button-s button2">
                <img src="../static/img/add-dev.png" width="80px" height="80px">
            </button>
        </div>

        </div>
        <div>
        NOTE:<br>
        1. dapat pag click sa Plugs i display ang tanan device na nka connect.<br>
        2. i display ang status sa device <br>
        3. kung mag change og status sa device dapat ma broadcast sa tanan dayun kwaon balik ang satus ana na device.
        </div>

    </div>

{% endblock %}