{% extends "smartplugui.html" %}
{% block logs%}
<link type="text/css" href="{{ url_for('static', filename='css/device-style.css') }}" rel="stylesheet">

 <div id="logs" class="request-page-def ">
    <div class="row device-header">
        <div class="col-md-4">Smart Plug Devices: LOGS</div>
    </div>


    <div class="table-s">
    <table class="table table-hover ">
    <thead>
      <tr>
        <th>Device</th>
        <th>Status</th>
        <th>Date and Time</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Device 1</td>
        <td>ON</td>
        <td>04/19/2018 03:29</td>
        <td>ako</td>
      </tr>
      <tr>
        <td>Device 2</td>
        <td>OFF</td>
        <td>04/19/2018 03:29</td>
        <td>ako</td>
      </tr>

    </tbody>
  </table>
    </div>

    <div>
    Note:<br>
    1. i display tanan transaction na nabuhat
    </div>
    </div>

{% endblock %}